@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap';


@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
p,
button,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


@import 'blocks/header/header';
@import 'blocks/button';
@import 'blocks/promo/promo';
@import 'blocks/title';
@import 'blocks/first/first';
@import 'blocks/products/products';
@import 'blocks/interface_block/interface';
@import 'blocks/document/document';
@import 'blocks/sixth/sixth';
@import 'blocks/calc/calc';
@import 'blocks/footer/footer';
@import 'blocks/menu-adaptive';
@import 'blocks/header/header_media';
@import 'blocks/promo/promo_media';
@import 'blocks/first/first_media';
@import 'blocks/products/products_media';
@import 'blocks/interface_block/interface_media';
@import 'blocks/document/document_media';
@import 'blocks/sixth/sixth_media';
@import 'blocks/calc/calc_media';
@import 'blocks/footer/footer_media';