@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap';


@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
p,
button,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/first';
@import 'blocks/products';
@import 'blocks/interface';
@import 'blocks/document';
@import 'blocks/sixth';
@import 'blocks/calc';
@import 'blocks/footer';
@import 'blocks/menu-adaptive';
@import 'blocks/header_media';
@import 'blocks/promo_media';
@import 'blocks/first_media';
@import 'blocks/products_media';