.footer {
    min-height: 700px;
    padding: 100px 0 100px 0;
    background: linear-gradient(90deg, #0F2948 0%, #0F2948 100%);
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 384px));
        column-gap: 24px;
        }
    &__contacts {
        grid-column: 1;
        grid-row: 1;
        width: 282px;
        height: 169px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_logo {
            max-width: 100%;
        }
        &_social {
            width: 234px;
            height: 36px;
            display: flex;
            justify-content: space-between;
            a {
                &:hover {
                    text-decoration: none;
                    img {
                        transform: scale(1.2);
                        transition: all .6s;
                    }
                }
            }
        }
        &_copyright {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    &__help {
        grid-column: 1;
        &_text {
            margin-top: 20px;
            max-width: 282px;
            min-height: 256px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: #FFFFFF;
            a {
                color: #FFFFFF;
                text-decoration: none;
                &:hover {
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
    &__products,
    &__decision,
    &__OCP,
    &__lawyer {
        &_list {
            margin-top: 10px;
            list-style-type: none;
            li {
            margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                    }
                a {
                    color: #FFFFFF;
                    text-decoration: none;
                    &:hover {
                    color: #FFFFFF;
                    text-decoration: underline;
                    }
                }
            }
        }
    }
    &__decision,
    &__lawyer {
        &_title {
            margin-top: 50px;
        }
    }
    &__products {
        grid-column: 2;
        grid-row: 1;
    }
    &__OCP {
        grid-column: 3;
        grid-row: 1;
    }
}