.document {
    min-height: 540px;
    padding: 100px 0 100px 0;
    background: #FFFFFF;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        max-width: 690px;
    }
    &__img {
        img {
            max-width: 100%;
        }
    }
}