.top-header {
    display: flex;
    align-items: center;
    background-color: #F2F4F8;
    height: 38px;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    &__menu {
        &_item {
            padding-right: 20px;
            text-decoration: none;
            color: $main-text;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            &:hover{
                text-decoration: none;
                color: $main-text;
            }
        }
    }
    &__language {
        &_select {
            border: none;
            background: #F2F4F8;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $main-text;
            cursor: pointer;
        }
    }
}
