.top-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #F2F4F8;
    height: 38px;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 20px;
        &_item {
            text-decoration: none;
            color: $heading-text;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            &:hover{
                text-decoration: none;
                color: $heading-text;
            }
        }
    }
    &__language {
        margin-top: -1px;
        &_select {
            border: none;
            background: #F2F4F8;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $heading-text;
            cursor: pointer;
            outline: none;
            appearance: none;
            background: url('../../icons/header/ic_arrow-down.svg') no-repeat right;
            padding-right: 16px;
        }
    }
}
.main-header {
    height: 90px;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    &__menu {
        display: flex;
        align-items: center;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
        gap: 50px;
        &_item {
            a {
                display: block;
                color: #fff;
                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
            &-drop {
                position: relative;
                padding-right: 16px;
                &:after {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    opacity: 0.5;
                    top: 4px;
                    right: -1px;
                    position: absolute;
                    background: url('../icons/arrows/Color=White\,\ State=Default.svg'); 
                }
                &:hover > &_list {
                    display: block;
                    transition: all .6s;
                }
                &_list {
                    position: absolute;
                    display: none;
                    left: 0;
                    width: 220px;
                    background-color: #fff;
                    list-style-type: none;
                    border-radius: 4px;
                    &_item {
                        width: 100%;
                        padding-left: 5px;
                        a {
                            color: $main-color;
                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
        }
        
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__hamburger {
        display: none;
    }
}
