@media (max-width: 1300px) {
    .container {
        max-width: 1120px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .main-header__wrapper {
        gap: 30px;
    }
    .main-header {
        &__left {
            display: block;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .main-header {
        &__menu {
            font-size: 14px;
            margin-top: 3px;
        }
    }
    .main-header__menu_item-drop {
        &:after {
        top: 2px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .main-header {
        &__menu {
            display: none;
        }
        &__buttons {
            display: none;
        }
        &__hamburger {
            padding: 10px 6px 10px 6px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 36px;
            height: 36px;
            cursor: pointer;
        
            span {
                display: block;
                width: 24px;
                height: 2px;
                background: #fff;
                border-radius: 3px;
                }
            span.tablet {
                width: 13px;
            }
        }
    }

}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .top-header {
        display: none;
    }
    .menu-adaptive {
        top: 0;
    }
}
@media (max-width: 428px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .main-header {
        height: 93px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}