.interface {
    position: relative;
    max-height: 1392px;
    padding: 90px 0 90px 0;
    background: linear-gradient(360deg, #5080E9 0%, #2457B8 100%);
    &__text {
        min-height: 272px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        max-width: 690px;
    }
    &__descr {
        max-width: 384px;
        min-height: 140px;
        &_one {
            margin-bottom: 30px;
        }
    }
    &__carousel {
        position: relative;
        margin-top: 100px;
        margin-bottom: 130px;
        max-height: 800px;
        max-width: 100%;
        &_slides {
            img {
                width: 100%;
                border-radius: 10px;
            }
        }

    }
    .slick-prev {
        position: absolute;
        bottom: 377px;
        left: -70px;
        opacity: 0.3;
        width: 50px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 4px;
        border: none;
        &:hover, &:active, &:focus {
            outline: none;
        }

    }
    .slick-next {
        position: absolute;
        bottom: 377px;
        opacity: 1.0;
        width: 50px;
        height: 50px;
        right: -70px;
        background: #FFFFFF;
        border-radius: 4px;
        border: none;
        &:hover, &:active, &:focus {
            outline: none;
        }
    }
    .slick-dots {
        display: flex;
        width: 88px;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: calc(50% - 44px);
        button {
            display: none;
        }
        li {
            display: block;
            width: 10px;
            height: 10px;
            margin: 0;
            border-radius: 100%;
            background: rgba(255, 255, 255, 0.2);
        } 
        .slick-active{
            background: #FFFFFF;
        }
    }
}
