.interface {
    position: relative;
    min-height: 1392px;
    padding: 90px 0 90px 0;
    background: linear-gradient(360deg, #5080E9 0%, #2457B8 100%);
    &__text {
        height: 272px;
        display: grid;
        grid-template-columns: 690px 384px;
        column-gap: 126px;
    }
    &__descr {
        height: 140px;
        &_one {
            margin-bottom: 30px;
        }
    }
    &__btn {
        margin-top: 30px;
    }
    &__block {
        margin-top: 100px;
        width: 100%;
        height: 800px;
        img {
            filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
            border-radius: 10px;
        }
    }
    &__scroll {
        margin-top: 30px;
        width: 100%;
        display: flex;
        margin-left: calc(50% - 44px);
        span {
            display: block;
            width: 10px;
            height: 10px;
            margin-right: 16px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 100%;
            &:nth-child(1) {
                background: #fff;
            }
        }
    }
}