.menu-adaptive {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    &.active {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    &__block {
        max-width: 100%;
        height: 100vh;
        background: #FFFFFF;
    }
    &__header {
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            width: 100%;
        }
    }
    &__close {
        cursor: pointer;
    }
    .menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        &__item {
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            width: 100%;
            }
        &__button {
            display: flex;
            position: relative;
            background-color: transparent;
            border: none;
            padding: 10px 20px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            width: 100%;
            color:#000000;
            &:hover {
                text-decoration: none;
                background-color: darken(#F7F7F7, 10%);
            }
            &-drop {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    border: solid black;
                    opacity: 0.5;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    right: 28px;
                    top: 20px;
                }
            }
        }
    }
    .dropdown-menu {
        display: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: #F7F7F7;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
        &__item {
            padding: 0 20px;
        }
        &__link {
            color: #000000;
            text-decoration: none;
            width: 100%;
            padding: 6px 20px;
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            &:hover {
                color: #000000;
                text-decoration: none;
                background-color:rgba(255, 255, 255, .7);
            }
            &:active {
                background-color:rgba(255, 255, 255, .7);
                transition: all 0.2s;
            }
        }
    }
    .menu__item.menu__item_open .dropdown-menu {
        display: block;
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        transition: all 0.6s;
    }
    .menu__item.menu__item_open .menu__button-drop {
        background: #F7F7F7;
    }
    .menu__item.menu__item_open .menu__button-drop:after {
        transform: rotate(-135deg);
        transition: all 0.6s;
        opacity: 1.0;
    }

    &__buttons {
        padding: 30px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &_btn {
            width: 189px;
            height: 44px;
            border: 1px solid rgba(70, 113, 246, 0.3);
            border-radius: 4px;
            color: #4671F6;
            &:hover {
                color:#fff;
                background: #4671F6;
            }
            &-blue {
                color: #fff;
                background: #4671F6;
                &:hover {
                    color:#4671F6;
                    background: #fff;
                }
            }
        }
    }

}