.products {
    min-height: 2704px;
    gap: 30px;
    &__first {
        position: relative;
        height: 154px;
        width: 100%;
        padding: 30px;
        border-radius: 10px;
        background: linear-gradient(269.93deg, #2457B8 0.06%, #4171CC 99.95%);
        &_title {
            padding-bottom: 10px;
        }
        &_img {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &__second,
    &__third,
    &__fourth,
    &__fifth {
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        height: 460px;
        width: 100%;
        padding: 30px 30px 66px 30px;
        background: #F2F4F8;
        border-radius: 10px;
        &_subtitle {
            margin-top: 10px;
            width: 500px;
            min-height: 56px;
        }
        &_wrapper {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(2, 300px);
            column-gap: 30px;
        }
        &_item {
            display: flex;
            align-items: start;
            gap: 14px;
        }
        &_feauture {
            font-weight: 600;
        }
        &_descr {
            margin-top: 2px;
        }
        &_btn {
            margin-top: 30px;
        }
        &_bg {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    &__sixth {
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        height: 460px;
        width: 100%;
        padding: 30px 30px 66px 30px;
        background: #F2F4F8;
        border-radius: 10px;
        &_subtitle {
            margin-top: 10px;
            width: 500px;
            min-height: 56px;
        }
        &_wrapper {
            display: grid;
            grid-template-columns: 630px;
        }
        &_item {
            display: flex;
            align-items: start;
            gap: 14px;
        }
        &_btn {
            margin-top: 30px;
        }
        &_bg {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}