.select {
    display: none;
    @media (max-width: 992px){
        display: block;
        position: relative;
        width: 100%;
        padding: 12px 8px;
        margin-top: 8px;
        margin-bottom: 20px;
        border: 1px solid #E8E8E8;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        border-radius: 4px;
        appearance: none;
        overflow: hidden;
        background: url('../../icons/prices/1section/ic\ chevron-main-down.svg') no-repeat right;
    }
    @media (max-width: 428px) {
        font-size: 16px;
        line-height: 20px;
    }
    &_title {
        display: none;
        @media(max-width: 992px) {
            display: block;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #474B53;
        }
        @media(max-width: 428px) {
            font-size: 16px;
            line-height: 20px;
        }
    }
} 