.title_fz56 {
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    font-style: normal;
    color: #FFFFFF;
    &_black {
        color: $heading-text;
    }
}
.title_fz46 {
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
    color: #FFFFFF;
    &_black {
        color: $heading-text;
    }
}
.title_fz24 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1E1E1E;
}
.title_fz20 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
    &_black {
        color: rgba(0, 0, 0, 0.8);
    }
    &_footer {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 600;
    }
}
.title_fz18 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.8);
}

