.title_fz56 {
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    font-style: normal;
    color: #FFFFFF;
    &_black {
        color: $heading-text;
    }
}
.title_fz20 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}
.title_fz46 {
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
    color: #FFFFFF;
}