.top-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #F2F4F8;
    height: 38px;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 20px;
        &_item {
            text-decoration: none;
            color: $heading-text;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            &:hover{
                color: $main-color;
                background: darken(#F2F4F8, 10%);
            }
        }
    }
    &__language {
        margin-top: -1px;
        &_select {
            border: none;
            background: #F2F4F8;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $heading-text;
            cursor: pointer;
            outline: none;
            appearance: none;
            background: url('../../icons/header/ic_arrow-down.svg') no-repeat right;
            padding-right: 16px;
            &:hover{
                color: $heading-text;
                background: darken(#F2F4F8, 10%);
            }
        }
    }
}
.main-header {
    height: 90px;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &-white {
        background-color: #fff;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }


    &__menu {
        display: flex;
        align-items: center;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
        gap: 50px;
        &_button {
            display: flex;
            position: relative;
            background-color: transparent;
            border: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            &:hover {
                color:#fff;
            }
            a {
                display: block;
                color: #fff;
                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
            &-black {
                color: #1E1E1E;
                &:hover {
                    color: $main-color;
                }
            }
            &-drop {
                position: relative;
                padding-right: 16px;
                &:after {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    opacity: 0.5;
                    top: 1px;
                    right: -1px;
                    position: absolute;
                    background: url('../icons/arrows/Color=White\,\ State=Default.svg'); 
                }
                &-black {
                    &:after {
                        background: url('../icons/arrows/Color=Black\,\ State=Default.svg');
                    }
                }
            }
        }
    
        
    }
    &__dropdown {
        display: none;
        position: absolute;
        margin-top: 4px;
        padding: 0;
        list-style-type: none;
        background: #F7F7F7;
        border-radius: 4px;
        padding: 10px 15px;
        z-index: 10;
        &_item {
            margin-top: 5px;
        }
        &_link {
            color: $main-color;
            text-decoration: none;
            width: 100%;
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            &:hover {
                color: #fff;
                text-decoration: none;
                background-color: $main-color;
                width: 100%;
            }
            &:active {
                background-color:rgba(255, 255, 255, .7);
                transition: all 0.2s;
            }
        }
    }
    .main-header__menu_item.main-header__menu_item-open .main-header__dropdown {
        display: block;
    }
    .main-header__menu_item.main-header__menu_item-open .main-header__menu_button-drop:after {
        transform: rotate(-180deg);
        transition: all 0.6s;
        opacity: 1.0;
    }
    
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__hamburger {
        display: none;
    }

}
