.first {
    min-height: 472px;
    padding: 100px 0 100px 0;
    &__wrapper {
        display: flex;
        gap: 160px;
    }
    &__left {
        max-width: 384px;
    }
    &__right {
        max-width: 690px;
    }
    &__dots{
        width: 100%;
        margin-bottom: 30px;
    }
    &__descr {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: $heading-text;
    }
}